[submodule "components/usb/cherryusb"]
	path = components/usb/cherryusb
	url = https://github.com/cherry-embedded/CherryUSB
    tag = v1.4.1
[submodule "components/fs/littlefs/littlefs"]
	path = components/fs/littlefs/littlefs
	url = https://github.com/littlefs-project/littlefs
    tag = v2.9.3
[submodule "components/utils/cjson"]
	path = components/utils/cjson
	url = https://github.com/DaveGamble/cJSON
    tag = v1.7.18
[submodule "components/crypto/mbedtls/mbedtls"]
	path = components/crypto/mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
    tag = v2.28.9
