.repo
.cache
.clangd
cscope*
compile_commands.*
chiptest
**/__pycache__
**/build
*.pyc
*.xlsx
*.xlsm
*.vsdx
*.xls
*.docx
*.doc
*.pptx
*.svd
**/_build
**/img_create_iot
docs/zh/_static/**
CMakeCache.txt
CMakeFiles/
tools/bflb_tools/bouffalo_flash_cube/chips/*/img_create