[submodule "components/usb/cherryusb"]
	path = components/usb/cherryusb
	url = https://github.com/cherry-embedded/CherryUSB
    tag = v1.4.1
[submodule "components/crypto/mbedtls/mbedtls"]
	path = components/crypto/mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
    tag = v2.28.9
[submodule "components/os/freertos/posix"]
	path = components/os/freertos/posix
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX.git
